.inputTemas{
    max-width: 100%;
}
.padi{
    padding: 6px;
}

/*https://loading.io/progress/*/

tbody{
    white-space: nowrap;
}

.size_input{
    width:42px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}